## Data Cleaning

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('data hepatitis.csv')
data

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
0,die,30,female,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,die,50,male,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,die,78,male,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,die,31,male,NaN,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no
5,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.9,95.0,28.0,4.0,75.0,no
6,life,51,male,no,yes,no,yes,no,yes,yes,no,no,yes,yes,NaN,NaN,NaN,NaN,NaN,no
7,die,23,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,NaN,NaN,NaN,no
8,die,39,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.7,NaN,48.0,4.4,NaN,no
9,die,30,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,120.0,3.9,NaN,no
10,die,39,male,no,no,yes,yes,yes,no,no,yes,yes,yes,yes,1.3,78.0,30.0,4.4,85.0,no
11,die,32,male,yes,no,no,yes,yes,yes,no,yes,no,yes,yes,1.0,59.0,249.0,3.7,54.0,no
12,die,41,male,yes,no,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,81.0,60.0,3.9,52.0,no
13,die,30,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,2.2,57.0,144.0,4.9,78.0,no
14,die,47,male,no,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,NaN,NaN,60.0,NaN,NaN,no
15,die,38,male,no,yes,no,no,no,yes,yes,yes,yes,no,yes,2.0,72.0,89.0,2.9,46.0,no
16,die,66,male,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,1.2,102.0,53.0,4.3,NaN,no
17,die,40,male,no,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.6,62.0,166.0,4.0,63.0,no
18,die,38,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,53.0,42.0,4.1,85.0,yes
19,die,38,male,no,no,yes,yes,yes,no,no,yes,yes,yes,yes,0.7,70.0,28.0,4.2,62.0,no
20,die,22,female,yes,no,no,yes,yes,yes,yes,yes,yes,yes,yes,0.9,48.0,20.0,4.2,64.0,no
21,die,27,male,yes,yes,no,no,no,no,no,no,no,yes,yes,1.2,133.0,98.0,4.1,39.0,no
22,die,31,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,85.0,20.0,4.0,100.0,no
23,die,42,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.9,60.0,63.0,4.7,47.0,no
24,die,25,female,no,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.4,45.0,18.0,4.3,70.0,no
25,die,27,male,no,yes,no,no,yes,yes,yes,yes,yes,yes,yes,0.8,95.0,46.0,3.8,100.0,no
26,die,49,male,no,no,no,no,no,yes,no,yes,no,yes,yes,0.6,85.0,48.0,3.7,NaN,no
27,die,58,female,yes,yes,no,yes,yes,yes,no,yes,no,yes,yes,1.4,175.0,55.0,2.7,36.0,no
28,die,61,male,no,yes,no,yes,yes,no,no,yes,yes,yes,yes,1.3,78.0,25.0,3.8,100.0,no
29,die,51,male,no,no,no,no,yes,yes,yes,yes,yes,yes,yes,1.0,78.0,58.0,4.6,52.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,die,34,female,yes,yes,no,no,no,no,no,yes,no,yes,yes,0.7,70.0,24.0,4.1,100.0,yes
126,die,28,male,yes,yes,no,no,no,NaN,NaN,yes,no,no,yes,1.0,NaN,20.0,4.0,NaN,yes
127,life,50,male,yes,yes,no,yes,yes,yes,no,no,yes,no,no,2.8,155.0,75.0,2.4,32.0,yes
128,die,54,male,no,yes,no,no,yes,yes,yes,yes,yes,no,yes,1.2,85.0,92.0,3.1,66.0,yes
129,life,57,male,no,yes,no,no,yes,yes,yes,yes,no,no,yes,4.6,82.0,55.0,3.3,30.0,yes
130,die,54,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,85.0,30.0,4.5,0.0,yes
131,life,31,male,no,yes,no,no,no,yes,yes,no,yes,yes,yes,8.0,NaN,101.0,2.2,NaN,yes
132,die,48,male,yes,yes,no,no,no,yes,no,yes,no,yes,yes,2.0,158.0,278.0,3.8,NaN,yes
133,die,72,male,yes,no,no,yes,yes,yes,no,yes,yes,yes,yes,1.0,115.0,52.0,3.4,50.0,yes
134,life,38,male,no,yes,yes,yes,yes,yes,no,yes,yes,yes,yes,0.4,243.0,49.0,3.8,90.0,yes
135,die,25,male,yes,yes,no,yes,yes,no,no,no,no,no,no,1.3,181.0,181.0,4.5,57.0,yes
136,die,51,male,yes,yes,yes,yes,yes,no,no,yes,no,yes,yes,0.8,NaN,33.0,4.5,NaN,yes
137,die,38,male,yes,yes,yes,yes,yes,yes,no,yes,no,yes,no,1.6,130.0,140.0,3.5,56.0,yes
138,life,47,male,yes,yes,no,no,yes,yes,no,yes,no,no,no,1.0,166.0,30.0,2.6,31.0,yes
139,die,45,male,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.3,85.0,44.0,4.2,85.0,yes
140,die,36,male,no,yes,no,no,no,no,no,yes,no,yes,no,1.7,295.0,60.0,2.7,NaN,yes
141,life,54,male,no,yes,no,no,yes,NaN,NaN,no,yes,no,yes,3.9,120.0,28.0,3.5,43.0,yes
142,die,51,male,yes,yes,no,yes,yes,yes,no,no,no,yes,no,1.0,NaN,20.0,3.0,63.0,yes
143,life,49,male,no,yes,no,no,yes,yes,yes,no,no,yes,yes,1.4,85.0,70.0,3.5,35.0,yes
144,life,45,male,yes,yes,no,no,no,yes,yes,yes,no,no,yes,1.9,NaN,114.0,2.4,NaN,yes
145,die,31,male,no,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,1.2,75.0,173.0,4.2,54.0,yes
146,life,41,male,yes,yes,no,yes,yes,yes,no,no,no,yes,no,4.2,65.0,120.0,3.4,NaN,yes
147,life,70,male,no,yes,no,no,no,NaN,NaN,NaN,NaN,NaN,NaN,1.7,109.0,528.0,2.8,35.0,yes
148,die,20,male,no,yes,yes,yes,yes,yes,NaN,yes,yes,yes,yes,0.9,89.0,152.0,4.0,NaN,yes
149,die,36,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.6,120.0,30.0,4.0,NaN,yes
150,life,46,male,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,die,44,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,die,61,male,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,die,53,female,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,life,43,male,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [12]:
data.shape

(155, 20)

In [13]:
data.head(n=10)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
0,die,30,female,no,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,1.0,85.0,18.0,4.0,NaN,no
1,die,50,male,no,yes,no,yes,yes,no,yes,yes,yes,yes,yes,0.9,135.0,42.0,3.5,NaN,no
2,die,78,male,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,0.7,96.0,32.0,4.0,NaN,no
3,die,31,male,NaN,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.7,46.0,52.0,4.0,80.0,no
4,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,200.0,4.0,NaN,no
5,die,34,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.9,95.0,28.0,4.0,75.0,no
6,life,51,male,no,yes,no,yes,no,yes,yes,no,no,yes,yes,NaN,NaN,NaN,NaN,NaN,no
7,die,23,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,NaN,NaN,NaN,no
8,die,39,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.7,NaN,48.0,4.4,NaN,no
9,die,30,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,1.0,NaN,120.0,3.9,NaN,no

In [14]:
data.tail(n=10)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,Spleen Pabable,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology
145,die,31,male,no,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,1.2,75.0,173.0,4.2,54.0,yes
146,life,41,male,yes,yes,no,yes,yes,yes,no,no,no,yes,no,4.2,65.0,120.0,3.4,NaN,yes
147,life,70,male,no,yes,no,no,no,NaN,NaN,NaN,NaN,NaN,NaN,1.7,109.0,528.0,2.8,35.0,yes
148,die,20,male,no,yes,yes,yes,yes,yes,NaN,yes,yes,yes,yes,0.9,89.0,152.0,4.0,NaN,yes
149,die,36,male,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,0.6,120.0,30.0,4.0,NaN,yes
150,life,46,male,yes,yes,no,no,no,yes,yes,yes,no,no,no,7.6,NaN,242.0,3.3,50.0,yes
151,die,44,male,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,0.9,126.0,142.0,4.3,NaN,yes
152,die,61,male,no,yes,no,no,yes,no,no,yes,no,yes,yes,0.8,75.0,20.0,4.1,NaN,yes
153,die,53,female,no,yes,no,yes,yes,yes,yes,no,no,yes,no,1.5,81.0,19.0,4.1,48.0,yes
154,life,43,male,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,1.2,100.0,19.0,3.1,42.0,yes

In [10]:
data.describe()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [15]:
data['Class'].value_counts()

die     123
life     32
Name: Class, dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
Class             155 non-null object
Age               155 non-null int64
Sex               155 non-null object
Steroid           154 non-null object
Antivirals        155 non-null object
Fatigue           154 non-null object
Malaise           154 non-null object
Anaroxia          154 non-null object
Liver Big         145 non-null object
Liver Firm        144 non-null object
Spleen Pabable    150 non-null object
Spiders           150 non-null object
Ascites           150 non-null object
Varices           150 non-null object
Bilirubin         149 non-null float64
Alk Phospat       126 non-null float64
SGOT              151 non-null float64
Albumin           139 non-null float64
Protime           88 non-null float64
Histology         155 non-null object
dtypes: float64(5), int64(1), object(14)
memory usage: 24.3+ KB

## Imputation Missing Value

In [18]:
data.isnull().sum()

Class              0
Age                0
Sex                0
Steroid            1
Antivirals         0
Fatigue            1
Malaise            1
Anaroxia           1
Liver Big         10
Liver Firm        11
Spleen Pabable     5
Spiders            5
Ascites            5
Varices            5
Bilirubin          6
Alk Phospat       29
SGOT               4
Albumin           16
Protime           67
Histology          0
dtype: int64

In [19]:
data.isnull().sum().sum()

167

In [21]:
#imputasi missing value data numerik
data['Alk Phospat'] = data['Alk Phospat'].fillna((data['Alk Phospat'].median())) 
data['SGOT'] = data['SGOT'].fillna((data['SGOT'].mean()))
data['Bilirubin'] = data['Bilirubin'].fillna((data['Bilirubin'].median()))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin            True
Protime            True
Histology         False
dtype: bool

In [22]:
#imputasi untuk data numerik yang lain
data['Albumin']=data['Albumin'].fillna(50)
data['Protime']=data['Protime'].fillna(81)
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm         True
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin           False
Protime           False
Histology         False
dtype: bool

In [23]:
#imputasi data kategorik dengan modus
data['Liver Firm'] = data.fillna(data['Liver Firm'].value_counts().index[0])
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid            True
Antivirals        False
Fatigue            True
Malaise            True
Anaroxia           True
Liver Big          True
Liver Firm        False
Spleen Pabable     True
Spiders            True
Ascites            True
Varices            True
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin           False
Protime           False
Histology         False
dtype: bool

In [24]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Class             False
Age               False
Sex               False
Steroid           False
Antivirals        False
Fatigue           False
Malaise           False
Anaroxia          False
Liver Big         False
Liver Firm        False
Spleen Pabable    False
Spiders           False
Ascites           False
Varices           False
Bilirubin         False
Alk Phospat       False
SGOT              False
Albumin           False
Protime           False
Histology         False
dtype: bool

## Encode Labels

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
#Encode untuk Sex, Steroid, Anaroxia, Spleen Pabable, Spiders, Ascites, Varices tanpa membuat kolom baru
data['Type'] = LabelEncoder().fit_transform(data['Class'])
data['Sex'] = LabelEncoder().fit_transform(data['Sex'])
data['Steroid'] = LabelEncoder().fit_transform(data['Steroid'])
data['Anaroxia'] = LabelEncoder().fit_transform(data['Anaroxia'])
data['Spleen Pabable'] = LabelEncoder().fit_transform(data['Spleen Pabable'])
data['Spiders'] = LabelEncoder().fit_transform(data['Spiders'])
data['Ascites'] = LabelEncoder().fit_transform(data['Ascites'])
data['Varices'] = LabelEncoder().fit_transform(data['Varices'])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,yes,yes,yes,1,no,die,...,1,1,1,1.0,85.0,18.0,4.0,81.0,no,0
1,die,50,1,0,yes,no,yes,1,no,die,...,1,1,1,0.9,135.0,42.0,3.5,81.0,no,0
2,die,78,1,1,yes,no,yes,1,yes,die,...,1,1,1,0.7,96.0,32.0,4.0,81.0,no,0
3,die,31,1,1,no,yes,yes,1,yes,die,...,1,1,1,0.7,46.0,52.0,4.0,80.0,no,0
4,die,34,1,1,yes,yes,yes,1,yes,die,...,1,1,1,1.0,85.0,200.0,4.0,81.0,no,0

## Standardize

In [28]:
from sklearn.preprocessing import StandardScaler

In [32]:
data['Bilirubin'] = StandardScaler().fit(data[['Bilirubin']]).transform(data[['Bilirubin']])
data['Alk Phospat'] = StandardScaler().fit(data[['Alk Phospat']]).transform(data[['Alk Phospat']])
data['Albumin'] = StandardScaler().fit(data[['Albumin']]).transform(data[['Albumin']])
data['Protime'] = StandardScaler().fit(data[['Protime']]).transform(data[['Protime']])
data['SGOT'] = StandardScaler().fit(data[['SGOT']]).transform(data[['SGOT']])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,yes,yes,yes,1,no,die,...,1,1,1,-0.609657,-0.679900,-0.680116,-0.339276,0.762648,no,0
1,die,50,1,0,yes,no,yes,1,no,die,...,1,1,1,-0.609657,1.470804,-0.680116,-0.339276,0.762648,no,0
2,die,78,1,1,yes,no,yes,1,yes,die,...,1,1,1,-0.609657,-0.679900,-0.680116,-0.339276,0.762648,no,0
3,die,31,1,1,no,yes,yes,1,yes,die,...,1,1,1,-0.609657,-0.679900,-0.680116,-0.339276,0.762648,no,0
4,die,34,1,1,yes,yes,yes,1,yes,die,...,1,1,1,-0.609657,-0.679900,1.516092,-0.339276,0.762648,no,0

## Normalize

In [30]:
from sklearn.preprocessing import Normalizer

In [33]:
data['Bilirubin'] = Normalizer().fit(data[['Bilirubin']]).transform(data[['Bilirubin']])
data['Alk Phospat'] = Normalizer().fit(data[['Alk Phospat']]).transform(data[['Alk Phospat']])
data['Albumin'] = Normalizer().fit(data[['Albumin']]).transform(data[['Albumin']])
data['Protime'] = Normalizer().fit(data[['Protime']]).transform(data[['Protime']])
data['SGOT'] = Normalizer().fit(data[['SGOT']]).transform(data[['SGOT']])
data.head()

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anaroxia,Liver Big,Liver Firm,...,Spiders,Ascites,Varices,Bilirubin,Alk Phospat,SGOT,Albumin,Protime,Histology,Type
0,die,30,0,0,yes,yes,yes,1,no,die,...,1,1,1,-1.0,-1.0,-1.0,-1.0,1.0,no,0
1,die,50,1,0,yes,no,yes,1,no,die,...,1,1,1,-1.0,1.0,-1.0,-1.0,1.0,no,0
2,die,78,1,1,yes,no,yes,1,yes,die,...,1,1,1,-1.0,-1.0,-1.0,-1.0,1.0,no,0
3,die,31,1,1,no,yes,yes,1,yes,die,...,1,1,1,-1.0,-1.0,-1.0,-1.0,1.0,no,0
4,die,34,1,1,yes,yes,yes,1,yes,die,...,1,1,1,-1.0,-1.0,1.0,-1.0,1.0,no,0